<div class="card mt-5 shadow">
    <h5 class="card-header bg-success text-light">
        <b><i class="fas fa-address-card"></i> Debt</b>
    </h5>
    <div class="card-body">
        <!-- debtForm es el nombre de variable asignado al formulario por el: #debtForm="ngForm" -->
        <form #debtForm="ngForm" (ngSubmit)="onSubmit(debtForm)">

            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="debtService.selectedDebt.$key">

            <div class="form-group">
                <input
                        type="text"
                        class="form-control"
                        name="name"
                        #name="ngModel"
                        [(ngModel)]="debtService.selectedDebt.name"
                        placeholder="Add Debt Name"
                >
            </div>

            <div class="form-group">
                <input
                        type="number"
                        class="form-control"
                        name="amount"
                        #amount="ngModel"
                        [(ngModel)]="debtService.selectedDebt.amount"
                        placeholder="Add Debt Amount"
                >
            </div>

            <div class="form-group">
                <input
                        type="text"
                        class="form-control"
                        name="kind"
                        #kind="ngModel"
                        [(ngModel)]="debtService.selectedDebt.kind"
                        placeholder="Add Debt Kind"
                >
            </div>

            <div class="form-group">
                <textarea
                        name="details"
                        id="details"
                        rows="5"
                        class="form-control"
                        #details="ngModel"
                        [(ngModel)]="debtService.selectedDebt.details"
                >
                </textarea>

            </div>

            <div class="form-group">
                <button class="btn btn-success mr-1" type="submit">
                    <!--iconos con font awesome-->
                    <i class="fas fa-file-invoice-dollar"></i>
                    Debt
                </button>
                <!-- reset va a limpiar el formulario-->
                <button class="btn btn-light" type="reset" (click)="resetForm(debtForm)">
                    <i class="fas fa-broom"></i>
                    Clear
                </button>
            </div>

        </form>
    </div>
</div>
